<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}">
    <title>Bienvenido a nuestra Farmacia</title>
</head>
<body>
    <header th:replace="~{layout/plantilla :: header}"/>

    <section>
        <h1>Bienvenidos a Farmacia Dr Simi</h1>
        <p>En Farmacia XYZ tenemos lo mejor en productos para tu salud.</p>
        
        <h2>Conoce más sobre nuestro producto estrella</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/[ID del video]" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>

    <footer th:replace="~{layout/plantilla :: footer}"/>
</body>
</html>

